{
  "extends": "eslint:recommended",
  "plugins": [
    "mozilla",
  ],
  "env": {
    "es6": true,
  },
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "double"],
    "no-trailing-spaces": ["error"],
    "semi": ["error", "always"],

    // for now ...
    "no-unused-vars": ["off"],
    "no-undef": ["off"],
    "comma-dangle": ["off"],
    "no-empty": ["off"],
    "no-case-declarations": ["off"],
  },
}
