.otr-not_private {
  list-style-image: url("icons/not-private.png");
}

.otr-unverified, .otr-finished {
  list-style-image: url("icons/unverified.png");
}

.otr-private {
  list-style-image: url("icons/private.png");
}

.otr-button > .toolbarbutton-icon {
  max-width: 16px;
}